@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.App{
  min-height: 100vh;
  background-color: #A1CCA5;
  padding-bottom: 16px;
  padding-top: 30px;
}

main{
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
}

.todo{
    display: flex;
    padding-block: 1rem;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.libro{
  display: flex;
  padding-block: 1rem;
  width: 49%;
  background-color: #8FB996;
  justify-content: space-evenly;
  border-radius: 1rem;
}

.titulo{
  width: 400px;
  padding: 1rem;
}

.lenguajes{
  padding-top: 2rem;
}

.tipos{
  padding-top: 4rem;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  align-items: center;
}

.input-wrapper {
  position: relative;
}

input{
  height: 40px;
  border-radius: 1rem;
}

.input {
  box-sizing: border-box;
  padding: 15px 15px 15px 35px;
  width: 300px;
}

.input-icon {
  position: absolute;
  width: 20px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.num-pags{
  padding-top: 5px;
  text-align: center;
}

.botones{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.mostrar-original{
  background-color: whitesmoke;
  border-radius: 1rem;
  padding: .5rem;
  width: 150px
}

.mostrar-original:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

.orden{
  background-color: whitesmoke;
  border-radius: 1rem;
  padding: .5rem;
  width: 150px
}

.orden:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

.favoritos{
  background-color: whitesmoke;
  border-radius: 1rem;
  padding: .5rem;
  width: 150px
}

.favoritos:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

.imagen{
  height: 240px;
  max-height: 240px;
}

.debajo-imagen{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.ver-datos{
  width: 4.5rem;
  padding: .5rem;
  border-radius: 1rem;
  font-size: .7rem;
  background-color: whitesmoke;
}

.ver-datos:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

.download{
  width: 2rem;
  height: 2rem;
}

.download:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.imagenes{
  width: 1.7rem;
  height: 1.7rem;
  max-width: 100%;
}

.img_favs{
  border: none;
}

.img_favs:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.button-paginacion{
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-paginacion[disabled]{
  background-color: rgb(190, 190, 190);
  cursor: no-drop;
}

.img-paginacion{
  width: 10px;
}

.input-paginacion{
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  color: black;
  border-radius: 3px;
}


.pop-up{
  text-align: center;
}

.p-about{
  padding-bottom: 1rem;
}

.p-titulo{
  padding-bottom: 1rem;
}

.p-autores{
  padding-bottom: 1rem;
}

.p-subjects{
  padding-bottom: 1rem;
}

.popup-content {
  margin: auto;
  background: #709775;
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 100;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid gray;
  border-top-color: white;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading{
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}

.close:hover{
  cursor: pointer;
}